<!DOCTYPE html>
<html lang="en-India">
<head>
<style>
    body{ background-color: blueviolet;
          background-image: url(/Users/OWNER/Pictures/Screenshots/Eid.png);
          background-repeat:no-repeat;
          background-size: cover;
          background-attachment: fixed;
          }
    h1  {color: crimson;}
    h2  {color:indigo}
    p   {color:deeppink;
        border: 3pt solid powderblue;
        padding: 20px;
        margin: 20px;}
    img {width: 50%;}
    
</style>
<title> My Page </title>

</head>
<body style="background-color:aliceblue">
<a href="https://www.freecodecamp.org/learn/2022/responsive-web-design/" target="_blank">Here's the link to the course!</a>
<h1 font-size:60px> HI, THIS IS FARHAT </h1>
<a href="https://www.linkedin.com/in/farhat-ayesha-550a2122a/">linkedin profile</a>
<h3 style="background-color: brown;"> WHATCHA DOIN'</h3>
<h1> THIS IS <br> FUN!!!! </h1>
<h2 style="font-family:cursive;"> DARAMDARINDA </h2>
<H3 style="font-size: 150%; text-align: center;"> SONOGONG </H3>
<p>H<sub>2</sub>O and CuSO<sub>4</sub><sup>-2</sup></p>
<p>For ins,<br>The purpose of life is <del>money </del><ins>Serving the Almighty</ins> </p>
<h4><small> POSITIVE  </small> POSITIVE </h4>
<h1><i>WHOOOO HOOOOO!!!</i> WHOOOO HOOOOO!!! </h1>
<p><em>This is emphasize</em></p>
<p><i>This is insert</i></p>
<hr>
<H6><em>SUBAH HOGAYI MAAMU!!</em> SUBAH HOGAYI MAAMU!!</H6>
<p style="color:blue"> <mark> Dell </mark>bla bla bla ba ba ba ba BANANAAA POTATOOO</p>
<P title="Output is good"><b>yo PUI PUI </b> <strong> PUI PUI</strong></P>
<p>This is an example for BLOCKQUOTE. The following words are from the Late Father of our nation, Gandhiji: <blockquote>Where there is a will, there is a way.<br> If a person slaps your one cheek, show him the other.</blockquote></p>
<p>q is to add quotation marks.<br>My Father once told me : <q>Live a life you will remember</q></p>
<p style="background-image: url(/Users/OWNER/Pictures/Screenshots/Eid.png);">abbr is for abbreviations<br> <abbr title="Nishat Farhat Mateen">NFM</abbr><br><abbr title="Information Science and Engineering">ISE</abbr></p>
<p>This is for the address <address> Mateen Sharief<br> RT Nagar, Bangalore<br>Karnataka, India- 560032</address></p>
<p>JK's <cite>Golden</cite> is scheduled to be released today with it's title track <cite>Standing Next To You.</cite></p>
<p>bdo-rtl to change the text direction. <bdo dir="rtl">farhaT ayeshA and mateeN sharieF</bdo></p>
<blockquote>
    For 60 years, WWF has worked to help people and nature thrive. As the world's leading conservation organization, WWF works in nearly 100 countries. At every level, we collaborate with people around the world to develop and deliver innovative solutions that protect communities, wildlife, and the places in which they live.
    </blockquote>
<p style="border: 2px solid tomato;" > Delta theta</p>
<img src="/Users/OWNER/Pictures/Saved Pictures/Capture4.PNG" alt="Bar Graph"
style="height: 300px; width: 500px;">
<img src="/Users/OWNER/Pictures/Saved Pictures/Capture7.png" width="20" height="250" alt="Life cycle of data analytics">
<a href="https://docs.google.com/spreadsheets/d/1bJH8LHkzoj_fMfI6ZANDCvg6f7arzqPeuLCbjZjjVCQ/edit?usp=sharing">
    <img src="/Users/OWNER/Pictures/Saved Pictures/Capture7.png" style="width: 50px; height: 50px;" alt="Spreadsheet">
</a>
<p><img src="/Users/OWNER/Pictures/Saved Pictures/Capture4.PNG" alt="Bar Graph"
    style="float:right;height: 33px;width: 53px;"> 
      This is a floating image.</p>

    
<p>This is a paragraph</p>
<table>
    <tr>
        <th>company</th>
    </tr>
    <td></td>
</table>






</body>
</html>
