#home{
    height: 820px;
}
.headings{
    font-size: 1.7rem;
}

#pic img{
    width: 250px;
    height: 18.75rem;
}

#intro h2{
    font-size: 1.5rem;
}


.techstack{
    display: flex;
    flex-direction: column;
    justify-content:center;
    font-size: 1rem;
    
}



.input{
    width: 60%;
}
#msg{
    width: 60%;
}
#send{
    width: 20%;

}